.dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100svw;
    height: 100svh;
    background-color: var(--dimmed);
    backdrop-filter: blur(1px);
    user-select: none;
}

.dimmed > .eventViewer {
    max-width: calc(100svw - 4rem);
    max-height: calc(100svh - 4rem);
    background-color: var(--card);
    border: 1px solid var(--card-border);
    border-radius: var(--card-radius);
}

.dimmed > .eventViewer > video {
    width: calc(100svw - 4rem);
}
